#photos, #photos-picture {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    font-family: var(--ff);
}
.icon {
    font-size: calc(var(--font-xl) * 2.5);
    color: var(--accent);
}
#photos {
    background: var(--color400);
}
.photos-text {
    text-align: center;
    max-width: 25vw;
}

.photos-text h4 {
    font-size: calc(var(--font-xl) * 1.5);
    color: white;
    font-weight: var(--weight-regular);
    line-height: 1.2;
}
.photos-text h3 {
    font-size: var(--font-lg);
    color: var(--color100);
    font-weight: var(--weight-regular);
    padding: var(--spacing2);
}

#photos-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}