@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.countdown-body {
    margin: var(--spacing3);
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: var(--spacing3);
}
.countdown-box {
    text-align: center;
    justify-content: center;
}
.countdown-digits {
    display: flex;
    gap: var(--spacing1);
    justify-content: center;
    text-align: center;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: var(--font-md);
}
.digit-box {
    width: var(--spacing5);
    height: calc(var(--spacing5) + var(--spacing3));
    background: var(--color400);
    border-radius: 7px;
    
	display: flex;              /* Enables Flexbox */
	align-items: center;        /* Vertical centering */
	justify-content: center;    /* Horizontal centering */
    margin: 1px;
}
.countdown-unit {
    color: var(--color400);
    font-size: var(--font-md);
}