/* Hide the nav bar by default on mobile */
.navbar-body {
  position: fixed;
  width: fit-content;
  margin: var(--spacing3);
  background: var(--color400); /* dark green */
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  box-shadow: var(--box-shadow-light);
  z-index: 999;
  transition: transform 0.3s ease;
}

.navbar-body.hidden {
  transform: translateX(-150%);
  transition: transform 0.3s ease;
}


.navbar-close {
  font-size: 1.5rem;
  cursor: pointer;
}

.logo-link img {
    margin: 0 auto;
  width: 100px;
  display: block;
}


.link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--font-md);
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.link:hover {
  background: var(--color200);
}


.navbar-icon {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

.navbar-icon.hidden {
  transform: translateX(-150%);
  transition: transform 0.3s ease;
}

.navbar-icon button {
  background: var(--color400);
  border: none;
  color: white;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow-heavy);
  cursor: pointer;
}

