@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --color100: #85A947;
    --color200: #5C9267;
    --color300: #3E7B27;
    --color400: #1A3F22;
    --color500: #001A05;
    --color600: #EFE3C2;
    --color700: #54473F;
    --accent: #EFE3C2;
    --text: #54473F;

    --box-shadow-light: 0 8px 8px hsla(360 0 0 / 0.6);
    --box-shadow-medium: 0 8px 16px hsla(360 0 0 / 0.4);
    --box-shadow-heavy: 0 8px 32px hsla(360 0 0 / 0.2);

    --ff: "Jacques Francois", serif;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --weight-regular: 400;
    --weight-bold: 400;

    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 16px;
    --spacing4: 20px;
    --spacing5: 40px;
    --spacing6: 80px;
    --spacing7: 160px;
}

/* Global Styles */
html {
    scroll-behavior: smooth;
}
/* #root {
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

body {
    text-wrap: pretty;
    font-family: var(--ff);
    font-size: var(--font-sm);
    font-weight: var(--weight-regular);
    font-style: normal;
}

h1, h2, p {
    color: var(--text);
}

a {
    color: var(--accent);
    text-decoration: none;
}

/* Utility Classes */
section {
    max-width: 1080px;
}

.centering {
    text-align: center;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing4);
    flex-wrap: wrap;
}

.reverse {
    flex-direction: row-reverse;
}

.padding1 {
    padding: var(--spacing1) 0;
}

.padding2 {
    padding: var(--spacing2) 0;
}

.padding3 {
    padding: var(--spacing3) 0;
}

.padding4 {
    padding: var(--spacing4) 0;
}

.padding5 {
    padding: var(--spacing5) 0;
}

.padding6 {
    padding: var(--spacing6) 0;
}

.padding7 {
    padding: var(--spacing7) 0;
}

.margin1 {
    margin: var(--spacing1) auto;
}

.margin2 {
    margin: var(--spacing2) auto;
}

.margin3 {
    margin: var(--spacing3) auto;
}

.margin4 {
    margin: var(--spacing4) auto;
}

.margin5 {
    margin: var(--spacing5) auto;
}

.margin6 {
    margin: var(--spacing6) auto;
}

.margin7 {
    margin: var(--spacing7) auto;
}
.text-sm  { font-size: var(--font-sm); }
.text-md  { font-size: var(--font-md); }
.text-lg  { font-size: var(--font-lg); }
.text-xl  { font-size: var(--font-xl); }

.font-regular { font-weight: var(--weight-regular); }
.font-bold    { font-weight: var(--weight-bold); }

/* Project Specific */
.section-container {
	width: 100%;
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    align-items: stretch;
}

.section-container:nth-child(odd) {
	flex-direction: row-reverse;
}
.section-container > section:nth-child(2) img {
    display: flex;
    align-items: stretch;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
    font-size: var(--font-md);
}

@media (max-width: 768px) {
  .section-container {
    flex-direction: column !important;
  }

  .section-container > section {
    width: 100%;
    max-width: 100%;
  }

  .registry-text, .photos-text {
    max-width: 80vw !important;
    margin: var(--spacing3);
  }
}
